body{
    background: #161920;
}
.login-container {
    margin-top: 10%;
    border: 0px solid #CCD1D1;
    border-radius: 12px;
    box-shadow: 0 0px 28px 0 rgb(0 0 0  );
    max-width: 50%;
    background: #FFFEE6;
    z-index: 1;
    position: relative;
}


.login-form {
    background: #FFFEE6;
    border-radius: 0px 12px 12px 0px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.login_form_in {
    padding: 4em 1em;
}
.login-form h1 {
    font-size: 1.2em;
    max-width: 600px;
    margin: 0 auto;
    color: #969696;
    line-height: 1.5em;
    padding: 1.2em 0px .8em;
}

.other_auth_links a{
    color: #AF001E;
}
.other_auth_links a:hover{
    color: #AF001E;
}
.other_auth_links a:nth-child(2) {
    float: right;
}
a {
    text-decoration: none;
    color: #afafaf;
}
a:hover {
    text-decoration: none;
    color: #616161;
}
.alert-danger {
    background-color: #FFFEE6;
    color: #AF001E;
    font-size: .9em;
}
